@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Wancho&family=Play:wght@700&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;
}
.logo img {
    width: 90px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color:black;
    text-decoration: none;
    padding: 35px;
    font-size: 1.5em;
}
nav a:hover {
    background-color: #E32E29;
    color:black;
}
.home-title {
    color: white;
    font-family: 'Play', sans-serif;
    font-size: 5em;
    margin-top: 10px;
    text-align: center;
}
h4 {
    color:white;
    text-align: center;
    font-size: 1.5em;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%;
}
body {
    background-color: #fcfbfb;
    font-family: 'Noto Sans Wancho', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #33B6E8;
    font-family: 'Play', sans-serif;
    display: grid;
    grid-template-columns: 150px auto;
    border: 1px solid black;
}
.home-grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    align-items: center;
}
.introduction-card {
    grid-area: 1 / 1 / 2 / 5;
    text-align: left;
    white-space: pre-line;
    height: fit-content;
    background-color: #C5C5C3;
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
    border: 1px solid black;
    border-radius: 5px;
}
.introduction-card h2 {
    font-family: 'Play', sans-serif;
}
.needs-card {
    grid-area: 2 / 1 / 4 / 3;
    text-align: left;
    white-space: pre-line;
    height: fit-content;
    background-color: #C5C5C3;
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
    border: 1px solid black;
    border-radius: 5px;
}
.needs-card h2 {
    font-family: 'Play', sans-serif;
}
.home-img {
    grid-area: 2 / 3 / 4 / 5;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
    border: 1px solid black;
}
.how-card {
    grid-area: 4 / 1 / 5 / 5;
    text-align: left;
    white-space: pre-line;
    height: fit-content;
    background-color: #C5C5C3;
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 50px;
}
.how-card h2 {
    font-family: 'Play', sans-serif;
}
footer {
    background-color: #33B6E8;
    font-family: 'Play', sans-serif;
    color:black;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img {
    padding-top: 15px;
}
footer p {
    font-size: 1.2em;
}
footer p:hover {
    text-decoration: none;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: #60A3D5;
}

/* ---------FREQUENTLY ASKED QUESTIONS PAGE--------- */

.faq-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    align-items: center;
    }
    
#faq-heading-box {
    margin: 100px;
    color: black;
    background-color: #C5C5C3;
    font-family: 'Play', sans-serif;
    font-size: 2em;
    margin-top: 100px;
    text-align: center;
    padding: 0;
    border: 1px solid black;
    border-radius: 10px;
}
.targets-faq {
    grid-area: 1 / 1 / 3 / 3;
    text-align: left;
    white-space: pre-line;
    height: fit-content;
    background-color: #C5C5C3;
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
    border: 1px solid black;
    border-radius: 5px;
}
.targets-faq h2 {
    font-family: 'Play', sans-serif;
}
.included-faq {
    grid-area: 3 / 1 / 5 / 3;
    text-align: left;
    white-space: pre-line;
    height: fit-content;
    background-color: #C5C5C3;
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
    border: 1px solid black;
    border-radius: 5px;
}
.included-faq h2 {
    font-family: 'Play', sans-serif;
}
.sharing-faq {
    grid-area: 5 / 1 / 7 / 3;
    text-align: left;
    white-space: pre-line;
    height: fit-content;
    background-color: #C5C5C3;
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
    border: 1px solid black;
    border-radius: 5px;
}
.sharing-faq h2 {
    font-family: 'Play', sans-serif;
}
.faq-img1 {
    grid-area: 1 / 3 / 4 / 6;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px #6f7364;
    border: 1px solid black;
}
.faq-img2 {
    grid-area: 4 / 3 / 7 / 6;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px #6f7364;
    border: 1px solid black;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}